/*CSS for Sponsors-Partners*/

body {
    background-color: #CAEED8;
}

.type {
    font-size: 24px;
    display: flex;
    align-items: center;
    border-right: 4px green solid;
    border-left: 4px green solid;
    border-radius: 20%;
    padding-left: 3vw;
    padding-right: 3vw;
}

img {
    height: auto;
    width: 15vw;
    border-radius: 50%;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sponsor-right {
    display: flex;
    justify-content: end;
    margin-right: 15%;
}

.sponsor-left {
    display: flex;
    justify-content: start;
    margin-left: 15%;
}

#pfp {
    height: auto;
    width: 15vw;
    border-radius: 50%;
    padding: 5px;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies {
    height: 15vh;
    width: auto;
}

.brands {
    display: flex;
    align-items: center;
    height: auto;
}

footer {
    margin-top: 4vh;
}


@media screen and (max-width: 1030px) {
    .brands {
        display: flex;
        width: 3vw;
        flex-direction: column;
        height: auto;
    }

    .pfp {
        height: 3vh;
        width: 3vw;
        border-radius: 50%;
    }

    .type {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .brands {
        display: flex;
        width: 2vw;
        flex-direction: column;
        height: auto;
    }

    .pfp {
        height: 3vh;
        width: 3vw;
        border-radius: 30%;
    }

    .type {
        font-size: 16px;
    }
}


/* End CSS for Sponsors-Partners*/